@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

h1{
    font-size: 56px;
    line-height: 64px;
    color: #302824;
}

h2{
    font-size: 40px;
    line-height: 45px;
    color: #302824;
}

h4{
    color: #302824;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 18px;
    color: #AF9F8D;
}

.section-padding{
    padding: 40px 80px;
}

.section-margin{
    margin: 40px 0;
}

body{
    width: 100%;
}



/* Header section */
#mobile{
    display: none;
    align-items: center;
    color: #AF9F8D;
    font-size: 24px;
}
#close{
    display: none;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: #302824;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
    width: auto;
    height: 2.3vw;
    margin-top: 5px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #AF9F8D;
    transition: 0.4s ease;
    position: relative;
}

#navbar li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #DEDCD7;
    transform-origin: bottom center;
    transition: 0.4s ease;
}

#navbar li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}

#navbar li a:hover,
#navbar li a.active{
    color: #DEDCD7;
}




/* Home page */
/* Cover section */
#cover{
    background-color: #DEDCD7;
}
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation-name: fade;
    animation-duration: 1s;
}

.slideshow {
    width: 100%;
    position: relative;
}

.shopnow button{
    background-color: #302824;
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    border: none;
    position: absolute;
    top: 80%;
    left: 5%;
    color: #DEDCD7;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.shopnow button::before {
    content: '';
    width: 0;
    height: 4vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #AF9F8D 0%, #302824 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.shopnow button:hover::before {
    width: 20vw;
}

/* Upcomming sales section */
#sale{
    padding: 8px 30px 6px;
    background-color: #AF9F8D;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    font-size: 18px;
    font-weight: 550;
}


/* New arrivals section */
#newarrivals{
    background-color: #DEDCD7;
    text-align: center;
}

#newarrivals .product-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
} 

#newarrivals .product{
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #AF9F8D;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
}

#newarrivals .product:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
}

#newarrivals .product img{
    width: 100%;
    border-radius: 20px;
}

#newarrivals .product .description{
    text-align: start;
}

#newarrivals .product .description h5{
    color: #AF9F8D;
}

#newarrivals .product .description .star{
    font-size: 12px;
    color: rgb(255, 196, 0);
}

#newarrivals .product .cart{
    padding: 12px;
    border-radius: 50%;
    background-color: white;
    color: #302824;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 1px solid #AF9F8D;
    transition: 0.3s ease;
}

#newarrivals .product .cart:hover{
    background-color: #AF9F8D;
}

/* Quick Shopping section */
#banner{
    background-color: #DEDCD7;
}

#banner h4{
    font-size: 24px;
    font-weight: 550;
}

#banner h6{
    font-size: 18px;
    font-weight: 500;
}

#banner h5{
    font-size: 16px;
    font-weight: 500;
}

#banner h3{
    font-size: 24px;
}

#banner .smallbanner h6{
    font-size: 14px;
    font-weight: 500;
}

#banner .text{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#banner button{
    font-size: 12px;
    font-weight: 560;
    padding: 8px 16px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #302824;
}

#banner button:hover{
    background-color: #DEDCD7;
}

/* big banner div */
#banner .bigbanner-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#banner .bigbanner{
    background-color: #AF9F8D;
    min-width: 500px;
    width: 48%;
    height: 40vh;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

#banner .bigbanner .topic{
    margin-left: 26px;
    width: 68%;
    box-sizing: border-box;
    float: left;
}

#banner .bigbanner img{
    height: 80%;
    margin: 15px;
    width: 200px;
    border-radius: 10px;
    float: right;
    box-sizing: border-box;
}

/* small banner div */
#banner .smallbanner-section{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#banner .smallbanner{
    background-color: #AF9F8D;
    min-width: 340px;
    width: 31%;
    height: 25vh;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

#banner .smallbanner .topic{
    margin-left: 26px;
    width: 65%;
    box-sizing: border-box;
    float: left;
}

#banner .smallbanner img{
    height: 80%;
    margin: 15px;
    width: 120px;
    border-radius: 10px;
    float: right;
    box-sizing: border-box;
}


/* footer section */

#footer{
    justify-content: space-between;
    background-color: #302824;
    display: flex;
}

#footer h4{
    color: #AF9F8D;
    line-height: 70px;
}

#footer p{
    color: #DEDCD7;
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
}

#footer p i{
    font-size: 20px;
    margin-right: 15px;
}

#footer a{
    text-decoration: none;
    color: #DEDCD7;
}

#footer .col-3{
    margin-left: 10px;
}

#footer .col-2{
    margin-left: 10px;
}

#footer .col-3 img{
    margin-top: 5px;
    margin-bottom: 10px;
}

#footer a{
    transition: 0.4s ease;
    position: relative;
}

#footer a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #DEDCD7;
    transform-origin: bottom left;
    transition: 0.4s ease;
}

#footer a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Shop page */




/* About page */




/* Contact page */


/* Strat Media Query */
/* Tab size */
@media (max-width:760px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -250px;
        height: 100vh;
        width: 250px;
        background-color: #302824;
        box-shadow: 0 40px 60px rgba(0,0,0,0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0;
    }

    #navbar li{
        margin-bottom: 30px;
    }

    #mobile{
        display: flex;
    }

    #close{
        display: block;
        position: absolute;
        top: 32px;
        left: 24px;
        color: #AF9F8D;
        font-size: 24px;
    }
    
    #newarrivals .product{
        min-width: 180px;
    }

    #newarrivals{
        padding: 30px;
    }
    #footer{
        padding: 30px;
    }
}

/* Mobile Phone size */
@media (max-width: 360px) {
    #navbar{
        width: 200px;
    }
    #header{
        padding-left: 30px;
        padding-right: 30px;
    }
    #newarrivals{
        padding: 30px;
    }
    #newarrivals .product-container{
        display: flex;
        flex-wrap: wrap;
    } 
    #newarrivals .product{
        min-width: 150px;
    }
    #newarrivals .product .cart{
        font-size: 12px;
    }
    #banner{
        padding: 30px;
    }
    #banner .bigbanner{
        min-width: 360px;
        height: 35vh;
    }
    #banner .bigbanner .topic{
        margin-left: 20px;
    }
    #banner .bigbanner img{
        height: 60%;
    }
    #banner h4{
        font-size: 20px;
        font-weight: 500;
    }
    #banner h2{
        font-size: 28px;
        line-height: 40px;
    }
    #footer{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
}

/* End Media Query */